.LexicalEditor__admonition .Admonition__container {
  position: relative;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 8px;
  border: solid 1px #666666;
  border-radius: 2px;
}

.LexicalEditor__admonition .Admonition__container.focused {
  outline: 2px solid rgb(60, 132, 244);
  /* user-select: none; */
}

.LexicalEditor__admonition .Admonition__container .admonition-edit-button {
  display: block;
  position: absolute;
  z-index: 1;
  font-size: 0.9rem;
  top: 8px;
  right: 12px;
  padding: 3px 4px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 60px;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

.LexicalEditor__admonition .Admonition__container .admonition-edit-button:hover {
  background-color: rgba(60, 132, 244, 0.5);
}

.LexicalEditor__admonition .AdmonitionNode__header {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

.LexicalEditor__admonition .AdmonitionNode__content {
  position: relative;
}

.LexicalEditor__admonition .AdmonitionNode__contentEditable {
  display: block;
  position: relative;
  background-color: #f4f4f4;
  min-width: 100%;
  color: #000;
  overflow: hidden;
}

.LexicalEditor__admonition .AdmonitionNode__contentEditable .tree-view-output {
  margin: 0;
  border-radius: 0;
}

.LexicalEditor__admonition .admonition-content-button:hover {
  background-color: rgba(60, 132, 244, 0.5);
}

.LexicalEditor__admonition .AdmonitionNode__contentEditable {
  min-height: 20px;
  border: 0px;
  resize: none;
  cursor: text;
  caret-color: rgb(5, 5, 5);
  display: block;
  position: relative;
  tab-size: 1;
  outline: 0px;
  padding: 10px;
  user-select: text;
  font-size: 16px;
  line-height: 1.4em;
  white-space: pre-wrap;
  word-break: break-word;
}

.AdmonitionNode__contentEditable p {
  margin-bottom: 0.25em;
}

.Admonition__placeholder {
  font-size: 12px;
  color: #888;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 10px;
  left: 10px;
  right: unset;
  user-select: none;
  white-space: nowrap;
  display: inline-block;
  pointer-events: none;
}

.dark .AdmonitionNode__contentEditable {
  color: #eeeeee;
  caret-color: auto;
}

.dark .LexicalEditor__admonition .AdmonitionNode__contentEditable {
  background-color: #222222;
}

.dark .AdmonitionNode__placeholder {
  color: #888;
}
